<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>客服在线</title>
    <style>
        .success {
            color: greenyellow;
        }

        .error {
            color: orange;
        }
    </style>
</head>
<body>
<h1>网上咨询</h1>
<div id="message_body"></div>
<div>
    您的幸运数字:<span id="number"></span>
</div>
<script type="text/javascript">
    function $(id) {
        return document.getElementById(id)
    }

    window.onload = function (ev) {
        let socket = new WebSocket('ws://10.36.174.23:8000/message');

        {# 设置打开socket连接的回调函数 #}
        socket.onopen = function (ev2) {
            console.log('----onoppen----');
            console.log(ev2)
        };

        let numberIsStarted = false;
        {# 接收服务端发送的信息 #}
        socket.onmessage = function (ev2) {
            data = ev2.data;
            if (data === 'starting') {
                numberIsStarted = true
            } else if (data === 'end') {
                numberIsStarted = false
            } else if (numberIsStarted) {
                if (parseInt(data) < 14)
                    $('number').setAttribute('class','error');
                else
                    $('number').setAttribute('class','success');
                $('number').innerText = data
            }
            else {
                $('message_body').innerHTML += '<br>' + data;
            }
        };
        {# 接收到错误信息的回调函数 #}
        socket.onerror = function (ev2) {
            console.log('----onerror----');
            console.log(ev2)
        }

    };
</script>
</body>
</html>