<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <style>
        .success {
            color: greenyellow;
        }

        .error {
            color: orange;
        }

        #message_body {
            background-color: sandybrown;
            width: 700px;
            height: 200px;
        }
    </style>
</head>
<body>
<h1>聊天室</h1>
<div id="message_body"></div>
<div>
    <input id="msg">
    <button>发送</button>
</div>
<script type="text/javascript">
    function $(id) {
        return document.getElementById(id)
    }

    window.onload = function (ev) {
        let socket = new WebSocket('ws://10.36.174.23:8000/message');


        let numberIsStarted = false;
        {# 接收服务端发送的信息 #}
        socket.onmessage = function (ev2) {
            data = ev2.data;
            $('message_body').innerHTML += '<br>' + data;
        };
        let btn = document.getElementsByTagName('button')[0];
        btn.addEventListener('click',function (e) {
            msg = $('msg').value;
            socket.send(msg)  // 向服务端发送数据

        })
    };
</script>
</body>
</html>